/* Chat section */
#chat header{
    position: sticky;
    top: 3rem;
}
#chat footer{
    position: sticky;
    bottom: 0;
}

/* See chats pullout */
.base-listing .text, .base-listing .time{
    font-size: 1.15rem;
}
.show-all{
    background-color: var(--c2-0-7-5);
}
.show-all a{
    padding: 5px 0;
}

#convos{
    top: calc(10rem + 6vh);
}
#convos .convos{
    margin-top: -6vh;
    height: calc(90vh - 10rem - 6vh);
}
#convos .convos #convoMenu button{
    padding-top: 5px;
}
#convos .convos .user-grid{
    grid-template-rows: auto auto;
    overflow: hidden;
}
#convos .convos .heading{
    overflow-x: hidden;
}
#convos .convos .title{
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-wrap: nowrap;
}
#convos .convos .text{
    max-width: 30vw;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-wrap: nowrap;
}

/* Members pullout */
#members .members{
    background-color: var(--c1-0-8);
}
#members .members .users{
    max-width: 70vw;
}
#members .members .users .role img{
    border-radius: 50%;
}


.progress {
    align-self: center;
    margin: 10px 0 0 0;
    width: 80%;
    max-width: 16rem;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background: var(--c1-0-9);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 1.5rem;
    border-radius: 30px;
    background-image: linear-gradient(175deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.05));
}

.progress-moved .progress-bar {
    width: 73%;
    background-color: var(--c2-4-0);
}
.searched button, .backgrounds .card{
    background-color: transparent;
    border: var(--c2-4-0) solid;
    border-width: 0 0 0 2px;
    gap: 5px;
    font-size: 1.5rem;
    color: var(--c1-8-0);
}
.searched button p, .backgrounds .card p{
    font-size: 1.25rem;
}
.searched button:first-child, .backgrounds .card:first-child{
    border-width: 0;
}
.searched button:hover, .searched button:hover p, .backgrounds .card:hover p{
    color: var(--c2-6-0);
    cursor: pointer;
}
.members hr{
    width: 80%;
    border: none;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--c2-4-0), transparent);
    margin: 0;
    padding: 0;
    align-self: center;
}
.backgrounds .card img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    overflow-clip-margin: unset;
    overflow: hidden;
    border-radius: 10px;
}
.backgrounds .card:hover img{
    transform: scale(1.1);
}
.members > .icon-btn{
    width: 80%;
    align-self: center;
    margin: 0 0 10px 0;
}

/* Character Select */

.character-select{
    width: fit-content;
}
.character-select .icon-btn{
    --c-col: var(--c2-0-6);
    background: var(--c-col);
    & p{
        color: #FFFFFFC0;
        font-style: normal;
    }
}
.character-select .icon-btn:hover{
    filter: hue-rotate(50deg);
    -webkit-filter: hue-rotate(50deg);
}






.add{
    background-color: var(--c1-0-8);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: var(--c1-6-0) 2px solid;
    min-width: 30%;
    z-index: 50;
    max-height: 75%;
    overflow-y: auto;
}
.add{
    --role-color: rgb(9, 47, 70);
    background-color: var(--role-color);
}
.characters .role-element{
    overflow-x: hidden;
    padding: 5px 10px;
    width: calc(100% - 20px);
    border-bottom: var(--c2-6-0) 2px solid;
    --role-color: rgb(9, 70, 16);
    align-items: center;
}
.characters .role-element:last-of-type{
    border-bottom: 0px;
    border-radius: 0 0 10px 10px;
}
.characters .role-element:first-of-type{
    border-radius: 10px 10px 0 0;
}
.characters .role-element .user-grid{
    flex: 1 1 0;
}
.characters .role-element .user-grid .name, .characters .role-element .user-grid .text{
    white-space: nowrap;
}
.characters .role-element .user-grid .name{
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--role-color);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 5px 15px;
    padding: 2.5px 5px;
    margin-top: 10px;
    width: min-content;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.characters .role-element .user-grid .user-image{
    padding: 3px;
    border: 0px;
    background-color: var(--role-color);
    border-radius: 50%;
}
.characters h2, .add h2{
    font-size: 2.25rem;
    padding: 10px 0px 0px 0px;
    text-align: center;
}
.characters hr, .add hr{
    width: 50%;
}
.manage h2, .add h2{
    font-size: 2.25rem;
    padding: 10px 0px 0px 0px;
}
.add h2{
    padding: 0px;
    margin: 0px;
}
.add hr{
    margin: 0;
}

.add .role-head .user-image{
    border: var(--c2-6-0) 2px solid;
}
.add p{
    text-align: left;
    font-size: 1.5rem;
    align-self: flex-start;
}
.text-input{
    text-align: center;
}


.exitPanel{
    position: absolute;
    right: 10px;
    top: 10px;
}