@import url(../CSS/PrimaryColors.css);
html {
  font-size: 12px;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  color-scheme: dark;
}

textarea, button, input {
  font-family: "Gabarito", sans-serif;
  outline: none;
}

#pageGrid, html, main, #chat {
  /* height: 100%; */
  min-height: calc(100% - 3rem);
}

#pageGrid.keyboard, html.keyboard, main.keyboard, body.keyboard {
  min-height: calc(100vh - 3rem - 500px); /* add padding for keyboard */
}

p, ul, body, header, nav {
  padding: 0;
  margin: 0;
}

body > header {
  position: fixed;
  top: 0;
  width: 100vh;
  z-index: 10;
}

body > nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

body {
  background-attachment: fixed;
  background-size: cover;
  height: calc(100% - 3.5rem);
  font-optical-sizing: auto;
}

#logo {
  display: block;
  margin-left: 1rem;
  margin-right: auto;
  height: 3rem;
  width: auto;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
  font-size: 1.25rem;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

#Settings {
  display: inline;
  height: 2rem;
  min-height: 25px;
  width: auto;
  margin-top: 1rem;
  right: 1rem;
  position: absolute;
  transition: transform 0.5s;
}

#Settings:hover {
  transform: scale(1.3, 1.3) rotate(45deg);
}

#nav-bar {
  align-items: center;
  gap: 10px;
  max-height: 3rem;
  padding: 5px;
  border: var(--c1-6-0) solid;
  border-width: 0px 0px 2px 0px;
}

#nav-bar > .user-image, #nav-bar > .user-image-bottom {
  max-height: 30px;
  max-width: 30px;
}

#nav-bar > button {
  max-height: 35px;
  width: auto;
}

.g10, .flex-c-g, .flex-r-g, .flex-cc-g, .flex-rc-g, .flex-c-p-g, .flex-r-p-g, .flex-cc-p-g, .flex-rc-p-g {
  gap: 10px;
}

.p10, .flex-c-p, .flex-c-p-g, .flex-r-p, .flex-r-p-g, .flex-cc-p, .flex-cc-p-g, .flex-rc-p, .flex-rc-p-g {
  padding: 10px;
}

.f1 {
  font-size: 1rem;
}

.f115 {
  font-size: 1.15rem;
}

.f125 {
  font-size: 1.25rem;
}

.f15 {
  font-size: 1.5rem;
}

.f175 {
  font-size: 1.75rem;
}

.f2 {
  font-size: 2rem;
}

.f25 {
  font-size: 2.5rem;
}

.flex-row, .flex-r-g, .flex-r-p, .flex-r-p-g, .flex-rc, .icon-btn, .flex-rc-g, .flex-rc-p, .flex-rc-p-g {
  display: flex;
  flex-direction: row;
}

.flex-col, .flex-c-g, .flex-c-p, .flex-c-p-g, .flex-cc, .flex-cc-g, .flex-cc-p, .flex-cc-p-g {
  display: flex;
  flex-direction: column;
}

.flex-center, .flex-cc, .flex-cc-g, .flex-cc-p, .flex-cc-p-g, .flex-rc, .icon-btn, .flex-rc-g, .flex-rc-p, .flex-rc-p-g {
  align-items: center;
  justify-content: center;
}

.user-image, .user-image-bottom {
  border: 2px solid var(--c2-0-0);
  align-self: center;
  border-radius: 2rem;
  width: 3.75rem;
  height: 3.75rem;
}

.user-image-bottom {
  align-self: end;
}

.format-img {
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.hidden {
  display: none;
}

.user-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

.user-grid .user-image, .user-grid .user-image-bottom {
  grid-row: 1/3;
  margin-right: 10px;
}

.user-grid .name {
  grid-column: 2;
  font-size: 1.75rem;
}

.user-grid .text {
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.user-grid.top .user-image, .user-grid.top .user-image-bottom {
  align-self: flex-start;
}

.user-grid.flip .user-image, .user-grid.flip .user-image-bottom {
  margin-right: 0px;
  margin-left: 10px;
  grid-column: 2;
}

.user-grid.flip .name, .user-grid.flip .text {
  justify-self: end;
  grid-column: 1;
}

.message-header-grid {
  display: flex;
  align-content: flex-end;
}

.message-header-grid .back-button {
  margin: auto 10px;
}

.message-header-grid .user-container {
  display: flex;
  flex-direction: column;
}

.message-header-grid .message-name {
  margin: auto 10px;
}

.message-header-grid .text {
  margin: auto 10px;
}

.message-header-grid i {
  justify-self: flex-end;
}

.icon-btn {
  min-width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: var(--c2-0-4) solid;
  border-width: 2px;
  outline: none;
  background-image: linear-gradient(45deg, var(--c2-6-0), var(--c1-6-0));
  color: var(--c1-0-8);
  font-size: 1.5rem;
  gap: 5px;
  padding: 0 10px;
  text-decoration: none;
  box-sizing: border-box;
}

.icon-btn.circular {
  width: 3rem;
}

.icon-btn.user-scale {
  min-width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
}

.icon-btn.small {
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  font-size: 1.25rem;
}

.icon-btn.small.circular {
  width: 2.5rem;
}

.icon-btn:has(img) {
  padding: 0;
}

.icon-btn:has(img) p {
  padding-right: 10px;
}

.icon-btn img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: auto;
  height: auto;
  border-radius: 2.5rem;
  border: inherit;
}

.icon-btn:hover {
  background-image: linear-gradient(45deg, var(--c2-0-6), var(--c1-0-6));
  color: var(--c1-8-0);
  border-color: var(--c2-4-0);
}

.icon-btn p {
  font-family: "Gabarito", sans-serif;
  color: var(--c1-0-8);
  font-size: 1.35rem;
}

.icon-btn.small p {
  font-size: 1.15rem;
}

.icon-btn:hover p {
  color: var(--c1-8-0);
}

.icon-btn.colors-secondary {
  border: var(--c4-0-4) solid;
  background-image: linear-gradient(45deg, var(--c4-6-0), var(--c3-6-0));
  color: var(--c3-0-8);
}

.icon-btn.colors-secondary:hover {
  background-image: linear-gradient(45deg, var(--c4-0-6), var(--c3-0-6));
  color: var(--c3-8-0);
  border-color: var(--c4-4-0);
}

.icon-btn.colors-secondary p {
  color: var(--c3-0-8);
}

.icon-btn.colors-secondary:hover p {
  color: var(--c3-8-0);
}

.pullout {
  position: fixed;
  top: 10rem;
  z-index: 10;
}
.pullout .expand {
  height: 5vh;
  border-radius: 0 10px 10px 0;
  background-color: var(--c1-6-0);
  border: none;
  color: var(--c1-0-6);
  font-size: 2.5rem;
}
.pullout .pullout-content {
  background-color: var(--c1-0-8);
  /* border-radius: 0 0 20px 0; */
  border-radius: 0;
  border: var(--c1-6-0) solid;
  border-width: 0;
  transform: translateZ(0);
  overflow: hidden;
}
.pullout .pullout-content > h1 {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}
.pullout.secondary.left .pullout-content {
  border-top-right-radius: 20px;
}
.pullout.secondary.right .pullout-content {
  border-top-left-radius: 20px;
}
.pullout.left {
  left: 0;
}
.pullout.left .pullout-content {
  max-width: 0;
  transition: max-width 0.25s;
  will-change: max-width;
  border-bottom-right-radius: 20px;
}
.pullout.left .pullout-content.extended {
  max-width: 100%;
  border-width: 2px 2px 2px 0;
}
.pullout.right {
  right: 0;
  flex-direction: row-reverse;
}
.pullout.right .expand {
  border-radius: 10px 0 0 10px;
}
.pullout.right .pullout-content {
  border-bottom-left-radius: 20px;
  width: 0;
  transition: width 0.25s;
  will-change: width;
}
.pullout.right .pullout-content.extended {
  width: 100%;
  border-width: 2px 0 2px 2px;
}
.pullout.bottom {
  top: 0;
  right: 0;
}

.pullout.bottom .pullout-content {
  border-bottom-left-radius: 20px;
  height: 0;
  width: 0;
}

.pullout.bottom .pullout-content.extended {
  width: 100%;
}

@media (max-width: 600px) {
  .icon-btn:not(.labeled) p {
    display: none;
  }
  html {
    font-size: 11px;
  }
  #pageGrid, html, main, #chat, body {
    /* height: 100%; */
  }
}
@media (max-width: 300px) {
  .icon-btn {
    min-width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
  .icon-btn.circular {
    width: 2rem;
  }
}
@media (max-height: 800px) {
  .icon-btn {
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    font-size: 1.25rem;
  }
  .icon-btn.circular {
    width: 2.5rem;
  }
  .icon-btn img {
    max-width: 2.25rem;
    max-height: 2.25rem;
  }
}
.base-listing, .base-listing p {
  color: var(--c2-7-3);
}

.base-listing:hover {
  background-color: var(--c1-0-7-5);
  border-radius: 0.6rem;
}
.base-listing:hover p, .base-listing:hover i {
  color: var(--c2-6-0);
}
.base-listing:hover .title {
  font-size: 1.85rem;
}

.bottom_border {
  border-width: 0px 0px 2px 0px;
  border-color: var(--c1-6-0-5);
  border-style: solid;
}

.bottom_border:hover {
  border-color: var(--c2-1-0);
}

.hidden {
  visibility: hidden;
}/*# sourceMappingURL=Defaults.css.map */